<div>
  <mat-toolbar>
    <a routerLink="/">Imageboard</a>
  </mat-toolbar>
</div>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="flex-end">
    <button color="primary" mat-raised-button (click)="openDialog()">Post your message</button>
  </div>
  <router-outlet></router-outlet>
</div>


