<div fxFlex="60%">
  <ng-container *ngIf="!isFetching; else loading">
    <div *ngFor="let message of messages" class="cardDiv">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ message.author | author }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <img
                *ngIf="message.image"
                [src]="message.image | image"
                [alt]="'Photo of'"
                mat-card-lg-image
              />
            </div>
            <p fxFlex="70%">" {{ message.message }} "</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
