<h2 mat-dialog-title>Add new message</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input name="author" matInput ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        name="message"
        required
        ngModel
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-raised-button
        color="accent"
        [disabled]="f.invalid"
      >
        <span *ngIf="!isUploading">Send</span>
        <span *ngIf="isUploading">
          <mat-spinner></mat-spinner>
        </span>
      </button>
    </div>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</div>
